/* Write your CSS here */
.list-app {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}
.apps-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
